.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 80px 100px 80px 100px;
    gap: 80px;
}

.login {
    width: 720px;
    height: 1024px;
}

.logo {
    width: 120px;
    height: 78px;
    align-self: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.welcome > h2 {
    color: #090937;
    font-size: 32px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    line-height: 43.71px;
}

.welcome > p {
    color: #09093799;
    font-size: 24px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    line-height: 32.78px;
}


