.container {
    position: relative;
    width: 800px;
    height: 50px;
    border-radius: 4px;
    background-color: #F4F4FF;
    margin-top: 50px;
    margin-left: 280px;
}

.search {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: #F4F4FF;
    font-size: 20px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    color: #090937;
    padding-left: 55px; 
    outline: none;
}

.search::placeholder {
    color: #09093766;
}

.searchIcon {
    position: absolute;
    top: 55%;
    left: 25px; 
    transform: translateY(-50%);
    color: #09093766;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 100px 60px 100px 60px;
    gap: 40px;
}

main > h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    line-height: 32.78px;
    color: #090937;
}

.lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0;
}

.lista > li {
    width: 260px;
    height: 390px;
    background-color: #F4F4FF;
    border-radius: 4px;
    border: 1px solid #0909371A;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.lista > li > img {
    width: 200px;
    height: 300px;
    border-radius: 4px;
}

.lista > li > div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.info > h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    line-height: 27.32px;
    color: #090937;
    display: block;
    word-wrap: break-word; /* Permite quebra */
    overflow-wrap: break-word;
    white-space: normal;
}

.autor {
    font-size: 16px;
    font-weight: 600;
    color: #09093799;
    font-family: "Manrope", sans-serif;
}

.price {
    font-size: 24px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    line-height: 32.78px;
    color: #6251DD;
    align-items: flex-end;
    margin-top: 40px;
}

